<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzQFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <style>
    body {
      background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
      color: #fff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .container {
      margin-top: 50px;
    }
    .form-control, .btn {
      border-radius: 30px;
    }
    .list-group-item {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 30px;
      margin-bottom: 10px;
    }
    .list-group-item .btn-group .btn {
      border-radius: 30px;
    }
    .list-group-item span {
      color: #000000;
    }
    nav {
      background-color: rgba(0, 0, 0, 0.7);
    }
    nav a {
      color: #fff !important;
    }
    .btn-primary {
      background-color: #ff7f50;
      border-color: #ff7f50;
    }
    .btn-primary:hover {
      background-color: #ff4500;
      border-color: #ff4500;
    }
  </style>
</head>
<body>
  <%- include('./error_messages'); %>
  <%- include('./header'); %>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">TodoApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if (isAuth) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signin">Sign in</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
  
  <% if (isAuth) { %>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="/" method="post">
            <div class="form-group">
              <label for="add">タスクの追加</label>
              <input required type="text" id="add" name="add" placeholder="何をする?" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mt-2">追加</button>
          </form>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            <% if (todos && todos.length > 0) { %>
              <% todos.forEach(function(todo) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="text-decoration: <%= todo.completed ? 'line-through' : 'none' %>">
                  <span><%= todo.content %></span>
                  <div class="btn-group" role="group">
                    <form action="/delete/<%= todo.id %>" method="post" style="display:inline;">
                      <button type="submit" class="btn btn-success btn-sm">完了</button>
                    </form>
                  </div>
                </li>
              <% }); %>
            <% } else { %>
              <li class="list-group-item">タスクがありません。</li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  <% } else { %>
    <div class="container text-center">
      <h1>Welcome to the TodoApp</h1>
      <a class="btn btn-primary" href="/signup" role="button">Sign up now!</a>
    </div>
  <% } %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp0YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
          integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          crossorigin="anonymous"></script>
</body>
</html>

